# ignore private files
_private/

# ignore temporary files, build results etc.
**/*.o
**/*.tex
**/*.mesh

# ignore Visual Studio temporary files, build results etc.
windows/.vs
windows/Debug/
windows/Release/
windows/x64/Debug/
windows/x64/Release/
windows/ChrisslyEngine_Windows/Debug/
windows/ChrisslyEngine_Windows/Release/
windows/ChrisslyEngine_Windows/x64/Release/
windows/export/*.ogg
windows/export/*.material

# ignore psp temporary files, build results etc.
psp/*.elf
psp/*.PBP
psp/*.SFO
psp/export/*.material

